1) Svaapta :
	Follow best practices in Software Engineering.


	Experience in Requirement gathering/analysis, designing, coding, testing, maintenance.


	Coding front end of websites in HTML, CSS, JavaScript, jQuery, AJAX as required.

	Core PHP,

	Knowledge of MySQL database.


	 Word Press, Magento, Joomla, Drupal

2) Webybutter: 

	The ideal candidate is a highly resourceful and innovative developer with extensive experience in the layout, design and coding of websites specifically in PHP format. 
	You must also possess a strong knowledge of web application development using PHP programming language and MySQL Server databases. 

 
	Responsibilities

	Perform a mix of maintenance, enhancements, and new development as required
	Work in a data analyst role and with business intelligence applications
	Document features, technical specifications & infrastructure Responsibilities
	Work cross-functionally to convert business needs into technical specifications
	

	Qualifications

	Knowledge of Laravel and other frameworks is an advantage.
	Expertise in front-end technologies (HTML, JavaScript, CSS), PHP frameworks, and MySQL databases

3) Rigel :

	Job Description

	We are looking for a PHP Developer 
	You will be a part of a full-stack creative team that is responsible for all aspects of the ongoing software development from the initial specification, through to developing, testing and launching.

	Responsibilities

	 Write “clean”, well-designed code

	 Produce detailed specifications

	 Troubleshoot, test and maintain the core product software and databases to ensure strong optimization and functionality

	 Contribute in all phases of the development lifecycle

	 Follow industry best practices

	 Develop and deploy new features to facilitate related procedures and tools if necessary

	Skills

	 Proven software development experience in PHP

	 Understanding of open source projects like Joomla, Drupal, Wikis, osCommerce, etc

	 Demonstrable knowledge of web technologies including HTML, CSS, Javascript, AJAX etc

	 Good knowledge of relational databases, version control tools and of developing web services

	 Experience in common third-party APIs (Google, Facebook, Ebay etc)

	 Passion for best design and coding practices and a desire to develop new bold ideas

	